<!DOCTYPE html>
<html>
{% load static %}

<head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/base.css' %}">
    <title>{% block title %}{% endblock %} - Log Bag</title>
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">
    {% block styles %}
    {% endblock %}
    <script src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <script src="{% static 'JS/burger.js' %}"></script>
    <script>
        
        
        const goTo = (pageName) => {
            window.location.href = pageName;
        }
            document.addEventListener('DOMContentLoaded', function () {
            const numberInput = document.getElementById("getLogByNumber");
            let logNumber = '';

            const updateLogNumber = (newValue) => {
                logNumber = newValue;
                console.log(logNumber);
            }

            const goToNumber = () => {
                console.log(logNumber);
                window.location.href = `/api/log_tracker/${logNumber}`;
            }

            // Add an event listener to the input box
            numberInput.addEventListener('input', (event) => {
                updateLogNumber(event.target.value);
            });

            document.querySelector('.navbar-item[onClick="goToNumber()"]').addEventListener('click', goToNumber);
        });
    </script>
    {% block scripts %}
    {% endblock %}
</head>

<body>
    <div id="root">
        <nav class="navbar is-light">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <strong>Log Bag</strong>
                </a>
                <div class="navbar-burger" id="burger-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="navbar-menu" id="nav-links">
                <div class="navbar-start">
                    <a class="navbar-item" onClick="goTo('/')">Homepage</a>
                    <a class="navbar-item" onClick="goTo('/api/log_tracker/chart')">Chart</a>
                    <a class="navbar-item" onClick="goTo('/api/log_tracker')">Logs</a>
                    <input class="navbar-item" id="getLogByNumber" class="input-box" placeholder="Write log number...">
                    <a class="navbar-item" onClick="goToNumber()">Get Log By Number</a> 
                </div>
            </div>
        </nav>
        <div id="dropdown" class="navbar-dropdown">
            <a class="navbar-item" onClick="goTo('/')">Homepage</a>
            <a class="navbar-item" onClick="goTo('/api/log_tracker/chart')">Chart</a>
            <a class="navbar-item" onClick="goTo('/api/log_tracker')">Logs</a>
        </div>
        <div id="content" class="section">
            {% block content %} {% endblock %}
        </div>
    </div>
    {% block footer %}
    <footer class="footer">
        <div class="footer-content has-text-centered">
            <p>
                Copyright &copy; 2024 by <a href="https://deployed.pl/">Deployed</a>. All right reserved
            </p>
        </div>
    </footer>
    {% endblock %}


</body>

</html>