{% extends 'pages/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/chart.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'JS/selection.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block title %}
Chart Logs
{% endblock %}

{% block content %}
<h1>Log List</h1>

<form id="filter-form" hx-boost="true" hx-trigger="change delay:500ms from:input, select, textarea">
    Select timestamp:
    <select id="selectDateInterval" name="datetime_selection" hx-get="/api/log_tracker/chart" hx-target="#root"
        hx-trigger="change delay:500ms" hx-include="#filter-form">
        <option value="last_24h" {% if datetime_selection == "last_24h" %}selected{% endif %}>Last 24 hours</option>
        <option value="last_week" {% if datetime_selection == "last_week" %}selected{% endif %}>Last week</option>
        <option value="last_month" {% if datetime_selection == "last_month" %}selected{% endif %}>Last Month</option>
        <option value="last_6_mth" {% if datetime_selection == "last_6_mth" %}selected{% endif %}>Last 6 Months</option>
        <option value="last_year" {% if datetime_selection == "last_year" %}selected{% endif %}>Last year</option>
        <option value="select_time_interval" {% if datetime_selection == "select_time_interval" %}selected{% endif %}>
            Select time interval </option>
    </select>
    <div id="setDateTimeInterval" {% if datetime_selection != "select_time_interval" %}hidden="true" {% endif %}">
        Start Date: <input id="start-date" type="datetime-local" name="start_date" value="{{ start_date }}"
            hx-get="/api/log_tracker/chart" hx-target="#root" hx-trigger="change delay:500ms" hx-include="#filter-form">
        End Date: <input id="end-date" type="datetime-local" name="end_date" value="{{ end_date }}"
            hx-get="/api/log_tracker/chart" hx-target="#root" hx-trigger="change delay:500ms" hx-include="#filter-form">
    </div>
    <div>
        Log Type:
        <select name="level" hx-get="/api/log_tracker/chart" hx-target="#root" hx-trigger="change delay:500ms"
            hx-include="#filter-form">
            <option value="">All</option>
            <option value="INFO" {% if level == 'INFO' %}selected{% endif %}>Info</option>
            <option value="DEBUG" {% if level == 'DEBUG' %}selected{% endif %}>Debug</option>
            <option value="WARNING" {% if level == 'WARNING' %}selected{% endif %}>Warning</option>
            <option value="CRITICAL" {% if level == 'CRITICAL' %}selected{% endif %}>Critical</option>
        </select>
    </div>
    <div>
        Query: <input type="text" name="query" value="{{ query }}">
        <button hx-get="/api/log_tracker/chart" hx-target="#root" hx-include="#filter-form">Search</button>
    </div>
    <div>
        Aggregate by:
        <select name="aggregation" hx-get="/api/log_tracker/chart" hx-target="#root" hx-trigger="change delay:500ms"
            hx-include="#filter-form">
            <option value="level" {% if aggregation == 'level' %}selected{% endif %}>Level</option>
            <option value="month" {% if aggregation == 'month' %}selected{% endif %}>Month</option>
            <option value="year" {% if aggregation == 'year' %}selected{% endif %}>Year</option>
            <option value="day" {% if aggregation == 'day' %}selected{% endif %}>Day</option>
            <option value="hour" {% if aggregation == 'hour' %}selected{% endif %}>Hour</option>
        </select>
    </div>
</form>

<div id="chart-wrapper">
    {% if data %}
    {% include "components/chart.html" %}
    {% else %}
    <h1>No logs match these criteria</h1>
    {% endif %}
</div>
{% endblock %}
